<% provide(:side_content, 'layouts/blank')%>
<% job=Job.find(params[:job_id]) %>
<% product=job.customer_product.product %>
<% customer=job.customer_product.customer %>

<div class= "row">
<div class ="col-md-4">
<h1>Customer Details</h1>
<p>
<%=link_to customer.name,customer %><br>
<%=customer.street %><br>
<%=customer.town %><br>
<%=customer.county %><br>

</p>
</div>
<div class ="col-md-4">
<h1>Job Details</h1>
<p>
Fault reported on <%= job.created_at.strftime("%B %d, %Y") %><br>
Fault description: <%= job.reported_fault %><br>
Work completed by <%= job.engineer.name %> <br>
Enginner Comments: <%= job.report %>
</p>
<h1>Create Invoice</h1>
<%= form_for(@invoice) do|f| %>
<%= f.label :invoice_number %>
<%= f.text_field :invoice_number %>
<%= f.hidden_field(:job_id,value:params[:job_id]) %>

<%= f.submit "Create Invoice" %>
<% end %>
</div>

<div class ="col-md-4">
<h1>Product Details</h1>
<p>
<%= product.manufacturer.name %>
<%= product.product_number %>
<%= product.description %>
Serial Number: <%= job.customer_product.serial_number %>
</p>

</div>
</div>





