<% provide(:side_content, 'layouts/invoices')%> 
<% job=@invoice.job %>
<% product=job.customer_product.product %>
<% customer=job.customer_product.customer %>


<div class= "row">
<div class ="col-md-2">
</div>
<div class ="col-md-8">
<div class="row">
<div class ="col-md-4">
<p>
<%= link_to customer.name,customer %><br>
<%=customer.street %><br>
<%=customer.town %><br>
<%=customer.county %><br>

</p>
</div>
<div class ="col-md-4">
</div>
<div class ="col-md-4">
<p>
<%= product.manufacturer.name %>
<%= product.product_number %>
<%= product.description %>
Serial Number: <%= job.customer_product.serial_number %>
</p>
</div>
</div>



<h1>Job Details</h1>
<p>
Fault reported on <%= job.created_at.strftime("%B %d, %Y") %><br>
Fault description: <%= job.reported_fault %><br>
Work completed by <%= job.engineer.name %> <br>
Enginner Comments: <%= job.report %>
</p>

<h1>Costs</h1>
<table>
<thead>
<th>
Description
</th>
<th>
Cost per item
</th>
<th>
Quantity
</th>
<th>
Cost
</th>

</thead>
<tbody>
<tr>
<td>Travel</td><td>&euro;<%= Invoice.cost_per_mile %> per mile</td><td><%= job.miles %></td><td>&euro;<%= calculate_travel_cost %></td>
</tr>
<tr>
<td>Labour</td><td>&euro;<%= Invoice.labour_per_hour %> per hour</td><td><%= job.labour_time %></td><td>&euro;<%= calculate_labour_cost %></td>
</tr>
<% job.parts_used.each do |part| %>
<% job_part_items=JobPart.where(job_id:job.id,part_id:part.id) %>
<% job_part_item=job_part_items[0] %>
<% quantity=job_part_item.quantity %>
<tr><td><%= part.description %></td><td><%= part.cost %></td><td><%= quantity %></td><td>&euro;<%= calculate_part_cost(part, quantity)%></td></tr>
  
  <% end %>

<tr>
  <td>Total Before Vat</td><td></td><td></td><td>&euro;<%=calculate_travel_cost+calculate_labour_cost+ @invoice.calculate_total_cost_of_parts %></td>

</tr>

<tr>
  <td>Total Including Vat</td><td>Vat @ <%=Invoice.vat_rate*100 %>%</td><td></td><td>&euro;<%=(calculate_travel_cost+calculate_labour_cost+ @invoice.calculate_total_cost_of_parts+((calculate_travel_cost+calculate_labour_cost+ @invoice.calculate_total_cost_of_parts)*Invoice.vat_rate)).round(2) %></td>

</tr>





</tbody>
</table>

</div>

<div class ="col-md-2">
</div>
</div>



