<% provide(:side_content, 'layouts/blank')%> 
<% job=@invoice.job %>
<% product=job.customer_product.product %>
<% customer=job.customer_product.customer %>


<div class= "row">
<div class ="col-md-3">
<h1 class="highlighted_text">Customer Details</h1>
<p>
<%= link_to customer.name,customer %><br>
<%=customer.street %><br>
<%=customer.town %><br>
<%=customer.county %><br>

</p>
</div>
<div class ="col-md-6">
<h1 class="highlighted_text">Job Details</h1>
<p>
Fault reported on <%= job.created_at.strftime("%B %d, %Y") %><br>
Fault description: <%= job.reported_fault %><br>
Work completed by <%= job.engineer.name %> <br>
Enginner Comments: <%= job.report.engineer_report %>
</p>

<h1 class="highlighted_text">Costs</h1>
<table class="table table-striped">
<thead>
<th>
Description
</th>
<th>
Cost per item
</th>
<th>
Quantity
</th>
<th>
Cost
</th>

</thead>
<tbody>
<tr>
<td>Travel</td><td>&euro;<%= Invoice.cost_per_hour_travel %> per hour of travel</td><td><%= calculate_hours_travelling %></td><td>&euro;<%= calculate_travel_cost %></td>
</tr>
<tr>
<td>Labour</td><td>&euro;<%= Invoice.labour_per_hour %> per hour</td><td><%= calculate_hours_labour %></td><td>&euro;<%= calculate_labour_cost %></td>
</tr>
<% job.parts_used.each do |part| %>
<% job_part_items=JobPart.where(job_id:job.id,part_id:part.id) %>
<% job_part_item=job_part_items[0] %>
<% quantity=job_part_item.quantity %>
<tr><td><%= part.description %></td><td>&euro;<%= part.cost %></td><td><%= quantity %></td><td>&euro;<%= calculate_part_cost(part, quantity)%></td></tr>
  
  <% end %>

<tr>
  <td>Total Before Vat</td><td></td><td></td><td>&euro;<%=calculate_travel_cost+calculate_labour_cost+ @invoice.calculate_total_cost_of_parts %></td>

</tr>

<tr>
  <td><strong>Total Including Vat</strong></td><td>Vat @ <%=Invoice.vat_rate*100 %>%</td><td></td><td><strong>&euro;<%=(calculate_travel_cost+calculate_labour_cost+ @invoice.calculate_total_cost_of_parts+((calculate_travel_cost+calculate_labour_cost+ @invoice.calculate_total_cost_of_parts)*Invoice.vat_rate)).round(2) %></strong></td>

</tr>





</tbody>
</table>
<h1 class="highlighted_text">Customer Signature</h1>
<span class="customer_signature"><img src="data:image/jpeg;base64,<%= job.cust_sig %>" ></span>
</div>


<div class ="col-md-3">
<h1 class="highlighted_text"> Product Details</h1>
<p>
<%= product.manufacturer.name %>
<%= product.product_number %>
<%= product.description %>
Serial Number: <%= job.customer_product.serial_number %>
</p>
</div>
</div>









