<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Reported fault</th>
      <th>Travel time</th>
      <th>Labour time</th>
      <th>Product</th>
      <th>Engineer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.reported_fault %></td>
        <td><%= job.travel_time %></td>
        <td><%= job.labour_time %></td>
        <td><%= job.product_id %></td>
        <td><%= job.engineer_id %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
