<% provide(:side_content, 'layouts/blank')%>
<% product=Product.find(params[:product_id]) %>
<% customer=Customer.find(params[:customer_id]) %>
<% customer_products=CustomerProduct.where(customer_id:customer.id,product_id:product.id) %>
<% customer_product= customer_products[0] %>

<div class="row">
<div class="col-md-3">
<h1 class="highlighted_text"> Customer Details</h1>
<p>
<%= customer.name %> <br>
<%= customer.street %><br>
<%= customer.town %><br>
<%= customer.county %><br>
</p>


</div>
<div class="col-md-6">
<h1 class="highlighted_text">New Job</h1>
<%= form_for(@job) do|f| %>
<div class="form-group" >
<%= f.label :reported_fault %>
</div>
<div class="form-group" >
<%= f.text_field :reported_fault %>
</div>
<div class="form-group">
<%= f.label :allocation_date,"Job To Be Complete On" %>
</div>
<div class="form-group">
<%= f.text_field :allocation_date, "data-provide" => 'datepicker', "data-date-format"=>"dd/mm/yyyy" %>
</div>

<%= f.hidden_field(:customer_product_id,value:customer_product.id) %>

<div class="form-group">
<%= f.label :engineer_id,"Engineer" %>
<%= f.collection_select :engineer_id,Engineer.all,:id,:name, include_blank: true  %>
</div>
<div class="form-group">
<%= f.submit "Save",:class=>"btn btn-success" %>
</div>

<% end %>
</div>
<div class ="col-md-3">
<h1 class=" highlighted_text">Product Details</h1>
<p>
<%= product.manufacturer.name %><br>
<%= product.product_number %><br>
<%= product.description %><br>
Serial Number: <%= customer_product.serial_number %>
</p>
</div>
</div>
