<% provide(:side_content, 'layouts/blank')%>
<% product=Product.find(params[:product_id]) %>
<% customer=Customer.find(params[:customer_id]) %>
<% customer_products=CustomerProduct.where(customer_id:customer.id,product_id:product.id) %>
<% customer_product= customer_products[0] %>


<div class="row">
<div class="col-md-4">
<%= customer.name %> <br>
<%= customer.street %><br>
<%= customer.town %><br>
<%= customer.county %><br>





</div>
<div class="col-md-4">
<h1>New Job</h1>
<%= form_for(@job) do|f| %>
<%= f.label :reported_fault %>
<%= f.text_field :reported_fault %>
<%= f.label :engineer_id,"Engineer" %>
<%= f.collection_select :engineer_id,Engineer.all,:id,:name, include_blank: true  %>
<%= f.hidden_field(:customer_product_id,value:customer_product.id) %>
<%= f.label(:status_unallocated, "Unallocated") %>
<%= f.radio_button(:status, "unallocated") %>
<%= f.label(:status_allocated, "Allocated") %>
<%= f.radio_button(:status, "allocated") %>
<%= f.label(:status_complete, "Complete") %>
<%= f.radio_button(:status, "complete") %>
<%= f.submit "Create Job" %>
<% end %>
</div>
<div class ="col-md-4">
<p>
<%= product.manufacturer.name %>
<%= product.product_number %>
<%= product.description %>
Serial Number: <%= customer_product.serial_number %>
</p>
</div>
</div>



