<% provide(:side_content, 'layouts/jobs')%> 
<div class= "row">

<div class ="col-md-4">
<% customer=@job.customer_product.customer %>
<% product=@job.customer_product.product %>
<h1> Customer Details</h1>
<p>
<%= link_to customer.name,customer %><br>
<%=customer.street %><br>
<%=customer.town %><br>
<%=customer.county %><br>
<%= @job.status %>
<%= @job.customer_product.product.description %>
</p>
</div>
<div class ="col-md-4">
<h1>Fault Description</h1>
<p>
Fault reported on <%= @job.created_at.strftime("%B %d, %Y") %><br>
Fault description: <%= @job.reported_fault %><br>
Job is <%= @job.status %>
<% if @job.status=='unallocated' %><br>
<%= link_to "Allocate this job", edit_job_path(@job) %>
<% end %>

</p>
<h1> Job Report </h1>

<% if @job.status=='complete' %><br>
<P>
Work completed by <%= @job.engineer.name %> <br>
Enginner Comments: <%= @job.report %>
</P>


<% else %>
<p>
This job has not been completed by an engineer.
</p>
<% end %>


<h1> Invoice for this Job</h1>
<%if @job.invoice %>
<% invoice =@job.invoice %>
This job has been invoiced, invoice number: <%= link_to invoice.invoice_number, invoice %>
<% else %>
This job has not been invoiced 
<% if @job.status=='complete' %>
though it is complete. <%= link_to "invoice this job", new_invoice_path(job_id:@job.id) %> 
<% else %>
as it is not yet complete
<% end %>
<% end %>
<% if @job.status=='complete' %>
<h1>Parts Used on this Job</h1>
<table>
<thead>
<th>Part Number</th><th>Description</th><th>Quantity Used</th>
</thead>
<tbody>
<% @job.parts_used.each do |part| %>
<% job_part_items=JobPart.where(job_id:@job.id,part_id:part.id) %>
<% job_part_item=job_part_items[0] %>
<% quantity=job_part_item.quantity %>
<tr><td><%= link_to part.part_number,part %></td><td><%= part.description %></td><td></td><td><%= quantity %></td></tr>
<% end %> 

</tbody>
</table>
<h1>Add Part used on this Job</h1>
 <%= form_for(:job_part, url:job_path(job_id:@job.id)) do |f| %>
   
        <%= f.hidden_field :job_id, :value => @job.id %>
         <%= f.label :part_id,"Part" %>   
       <%= f.select(:part_id, @job.customer_product.product.parts_contained.collect{|p| [ p.description, p.id ] }, {:include_blank => 'Select a Part'}) %>
           <%= f.label :quantity%>  
         <%= f.select :quantity, (0..10) %>
 <%= f.submit "Add Part" %>
 <% end %>
<% end %> 
</div>


<div class ="col-md-4">
<h1> Product Details</h1>
<p>
<%= product.manufacturer.name %>
<%= product.product_number %>
<%= product.description %>
Serial Number: <%= @job.customer_product.serial_number %>
</p>
<%= link_to "Edit this Job", edit_job_path(@job) %>
<%= link_to 'Delete this Job', @job, method: :delete, data: { confirm: 'Are you sure you want to delete this job?' } %>
</div>
</div>
     


