<p id="notice"><%= notice %></p>
<% provide(:side_content, 'layouts/blank')%> 

<%= @video.video_attachment_file_name %>
<%= @video.job_id %>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
