<% provide(:side_content, 'layouts/customers')%>  

<div class= "row ">
<div class="col-md-6 information">
<p>
<%= @customer.name %> <br>
<%= @customer.street %><br>
<%= @customer.town %><br>
<%= @customer.county %><br>
<%= @customer.phone %><br>
<%= @customer.email %><br>


</p>

<h1>Customer Products</h1>
<ul >
<%  @customer.products.each do |product| %>

<li><h3><%= link_to product.manufacturer.name+" "+
product.product_number, product_path(id:product.id) %></h3><p><%= link_to "Create Job for this Product", new_job_path(product_id:product.id) %> </p></li> 
<% end %> 
</ul>
</div>
<div class="col-md-6 information">
<h1>Jobs for this Customer</h1>
<ul >
<%  @customer.products.each do |product|
 product.jobs.each do |job|%>

<li><%= link_to job.created_at.strftime("%B %d, %Y")+" "+job.reported_fault,job_path(id:job.id)%></li> 

<% end %>
<% end %> 
</ul>
</div>
</div>
<div class= "row ">
<div class="col-md-6 information">
</div>
<div class="col-md-6 information">
<h1> Invoices for this Customer</h1>
<ul >
<%  @customer.products.each do |product|
 product.jobs.each do |job|
 	if(job.invoice!=nil) %>

<li><%= link_to job.invoice.created_at.strftime("%B %d, %Y")+" "+job.invoice.invoice_number,invoice_path(id:job.invoice.id)%></li> 
<% end %>
<% end %>
<% end %>

</div>
</div>
