<% provide(:side_content, 'layouts/products')%> 
<div class ="row">
<div class="col-md-6">
<h1>Manufacturer<h1>
<p>
<%= @product.manufacturer.name %><br>
<%= @product.manufacturer.street %><br>
<%= @product.manufacturer.town %><br>
<%= @product.manufacturer.county %><br>
<%= @product.manufacturer.country %><br>
<%= @product.manufacturer.phone %><br>
<%= @product.manufacturer.email %><br>
</p>

<h1> Parts List</h1>
<table>
<thead>
<tr>
<th>Part Number</th>
<th>Part Description</th>
<th>Quantity</th>
</tr>
</thead>
<tbody>

<% @product.parts_contained.each do |part| %>
<% part_list_items=PartList.where(part_id:part.id,product_id:@product.id) %>
<% part_list_item=part_list_items[0] %>
<% quantity=part_list_item.quantity %>

<tr><td><%= link_to part.part_number, part %></td><td><%= part.description %></td><td><%= quantity.to_s %></td></tr>


<% end %>

</tbody>
</table>
</div>
<div class="col-md-6">
<h1> Exploded View </h1>
 <%= image_tag(@product.image_file, alt: "Exploded View") %>
</div>
</div>

