<% provide(:side_content, 'layouts/products')%> 
<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @product.serial_number %>
</p>

<p>
  <strong>Product number:</strong>
  <%= @product.product_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @product.manufacturer_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
