<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @manufacturer.street %>
</p>

<p>
  <strong>Town:</strong>
  <%= @manufacturer.town %>
</p>

<p>
  <strong>County:</strong>
  <%= @manufacturer.county %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @manufacturer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @manufacturer.email %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
