
 <div class="row search-box-div">
<%= form_tag(job_path(id:params[:id]), :method => "get", id: "job-search-form")  %>
  <%= text_field_tag :search,params[:search], placeholder: "Search" %>
   <p class="search_by" >Search by..</p>
  <%= select_tag :search_type, options_for_select([["customer name","name"],["date","date"]])%>
  <%= submit_tag "Search" %>
   </div>
  <div class="row">              
<ul class="nav nav-pills nav-stacked side-nav">


  
  <% @jobs.each do |job| %>
    
        <li role="presentation" class=<%= 'active' if params[:id].to_i ==job.id %>>
        <%= link_to raw('<h3>'+job.created_at.strftime("%d/%m/%Y")+'</h3><p>'+job.customer_product.product.manufacturer.name+' '+job.customer_product.product.description.split(',')[0]+'<br>'+job.customer_product.customer.name+'<br>'+job.customer_product.customer.town+'</p>'),job %></li>    
<% end %>
      

</ul>

</div>


