
<h1>Unallocated Jobs</h1>
<ul class="nav nav-pills nav-stacked side-nav">

  <% unallocated=@jobs.select {|job| job.status=='unallocated'} %>
  <% unallocated.each do |job| %>
    
        <li role="presentation" class=<%= 'active' if params[:id].to_i ==job.id %>><%= link_to raw('<h3>'+job.customer_product.product.manufacturer.name+' '+job.customer_product.product.product_number+'</h3><p>'+job.reported_fault+'</p>'), job %></li>
    
        <% end %>

</ul>

<h1>Allocated Jobs</h1>
<ul class="nav nav-pills nav-stacked side-nav">

  <% unallocated=@jobs.select {|job| job.status=='allocated'} %>
  <% unallocated.each do |job| %>
    
        <li role="presentation" class=<%= 'active' if params[:id].to_i ==job.id %>><%= link_to raw('<h3>'+job.customer_product.product.manufacturer.name+' '+job.customer_product.product.product_number+'</h3><p>'+job.reported_fault+'</p>'), job %></li>
    
        <% end %>

</ul>

<h1>Completed Jobs</h1>
<ul class="nav nav-pills nav-stacked side-nav">

  <% unallocated=@jobs.select {|job| job.status=='complete'} %>
  <% unallocated.each do |job| %>
    
        <li role="presentation" class=<%= 'active' if params[:id].to_i ==job.id %>><%= link_to raw('<h3>'+job.customer_product.product.manufacturer.name+' '+job.customer_product.product.product_number+'</h3><p>'+job.reported_fault+'</p>'), job %></li>
    
        <% end %>

</ul>

