
 
   <!DOCTYPE html>
    <html>
      <head>
        <title>Service Manager</title>
        <%= stylesheet_link_tag 'application', media: 'all',
                                               'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
          </script>
        <![endif]-->
      </head>
      <body>


        <div class="container">
       <%= render 'layouts/header' %>
     
       <div class="row">

       <div class=" col-md-3 side-pane">
       <%= image_tag("Machine-banner1.jpg", alt: "Company logo") %>
         <%= render yield(:side_content) %>
       </div>
         <div class=" col-md-9 main-pane">
<ul class="nav top-nav nav-tabs nav_project">
 
  
   <li  role="presentation" class=<%= 'active' if params[:controller] == 'jobs' %>><%= link_to "Jobs", job_path(id:Job.all[0].id) %></li>
  <li role="presentation" class=<%= 'active' if params[:controller] == 'customers' %>><%= link_to "Customers",customer_path(id:Customer.all[0].id)%></li>
    <li role="presentation" class=<%= 'active' if params[:controller] == 'products' %>><%= link_to "Products",product_path(id:Product.all[0].id)%></li>
   <li role="presentation" class=<%= 'active' if params[:controller] == 'invoices' %>><%= link_to "Invoices",invoice_path(id:Invoice.all[0].id)%></li>
   <li role="presentation" class=<%= 'active' if params[:controller] == 'parts' %>><%= link_to "Stock Control",part_path(id:Part.all[0].id)%></li>

   
 

</ul>
       
        <% flash.each do |message_type, message| %>
        <div class= "alert alert-<%= message_type %>">
        <%= message %>
        </div>
        <% end %>
          <%= yield %>
         
         
       </div>

       
        </div>
        </div>

      </body>
    </html>
   

