
 
   <!DOCTYPE html>
    <html>
      <head>
        <title>Service Manager</title>
        <%= stylesheet_link_tag 'application', media: 'all',
                                               'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
          </script>
        <![endif]-->
      </head>
      <body>


        <div class="container-fluid">
       <%= render 'layouts/header' %>
     
       <div class="row row top-nav">

                    <div class="col-md-2">
                   <h1 class="logo">Service Manager</h1>
                        </div>
   <div class="col-md-10 top-nav-div"> 
           
<ul class="nav  nav-tabs">
   
  
   <li  role="presentation" class=<%= 'active' if params[:controller] == 'jobs' %>><%= link_to "Jobs", job_path(id:Job.all[0].id) %></li>
  <li role="presentation" class=<%= 'active' if params[:controller] == 'customers' %>><%= link_to "Customers",customer_path(id:Customer.all[0].id)%></li>
    <li role="presentation" class=<%= 'active' if params[:controller] == 'products' %>><%= link_to "Products",product_path(id:Product.all[0].id)%></li>
   <li role="presentation" class=<%= 'active' if params[:controller] == 'invoices' %>><%= link_to "Invoices",invoice_path(id:Invoice.all[0].id)%></li>
   <li role="presentation" class=<%= 'active' if params[:controller] == 'parts' %>><%= link_to "Stock Control",part_path(id:Part.all[0].id)%></li>

   <% if (logged_in?) %>
 <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <%= @current_user.name %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    <li><%= link_to "Log Out",logout_path, method: "delete" %></li>

  
    </ul>
  </li>

<% else %>
 <li role="presentation" class=<%= 'active' if params[:controller] == 'parts' %>><%= link_to "Log In",login_path%></li>
 <% end %>

</ul>
</div>
 </div>
</div>


       <div class="row">

       <div class=" col-md-2 side-pane">
      
         <%= render yield(:side_content) %>
       </div>
       
      <div class=" col-md-10 main-pane">
      
        
          <%= yield %>

          </div>
         
     

       
        </div>
        </div>

      </body>
    </html>
   

